.sc_body {
    background: var(--page-login-bg);
    align-items: flex-start;
    padding-top: 6.3rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100vw;
}

.sc_otp_container {
    width: 30%;
    background-color: var(--page-login-form-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-lg);
    padding: 3rem 2rem;
}

.btn{
    width: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
