{% extends '@!EasyAdmin/page/login_minimal.html.twig' %}
{% block page_title %}{% endblock %}
{% block head_stylesheets %}
	<link rel="stylesheet" href="{{ asset('app.css', constant('EasyCorp\\Bundle\\EasyAdminBundle\\Asset\\AssetPackage::PACKAGE_NAME')) }}">
	<link rel="stylesheet" href="{{ asset('style.css') }}"/>
{% endblock %}
{% block body_class %}sc_body
{% endblock %}
{% block wrapper_wrapper %}
	<div class="container sc_otp_container">
		<h3 style="text-align: center; margin-top: 1rem">Confirmation OTP</h3>
		<p style="text-align: center">
			Vous allez recevoir un code de vérification d'identité<br/>
			<a href="https://fr.wikipedia.org/wiki/Double_authentification">Tout savoir sur le second facteur</a>
		</p>
		<form>
			<div class="form-group">
				<div class="form-widget">
					<input style="text-align: center; font-size: 1.3rem; height: auto" type="number" id="otp" name="otp" class="form-control" required="" autofocus="" placeholder="_ _ _ _ _ _">
				</div>
			</div>
			<div style="text-align: center" class="form-group">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Valider</button>
			</div>
		</form>
	</di>
{% endblock %}
